adium-theme-ubuntu==0.3.4
chardet==2.3.0
decorator==4.0.6
dj-database-url==0.4.2
Django==1.8.7
gunicorn==19.4.5
gyp==0.1
numpy==1.11.0
Pillow==3.4.2
psycopg2==2.6.1
Pygments==2.1
pytz==2014.10
scipy==0.17.0
sqlparse==0.1.18
unity-lens-photos==1.0
