{% extends 'profile/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Zarejestruj nowe konto</h3>
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="user_name">{{ field.label_tag }}</label>
                                <div class="col-sm-10">{{ field }}</div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Wyślij</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Masz już konto? <a href="{% url 'users:login_user' %}">Kliknij tutaj</a> aby się zalogować.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
