<html>

<head>
	<title>AgileEstate</title>
	<meta charset="utf-8">
	<style type="text/css">
		h1 {
			color: white;
			background-color: black;
			padding: 0.1cm 0.5cm 0.1cm 0.5cm;
			margin:0; }
		body {
			margin: 0;			
			background-color: #f2f2f2 }
		section	{
			max-width: 900px; }
		#estate {
			margin: 0.5cm;	
			padding: 0.1cm 0.5cm 0.1cm 0.5cm;		
			background-color: white }
	</style>
	<script>
		function mainHref() {
			var x = document.getElementById("link").href;
			document.getElementById("link").href = window.location.href + x;
		}
		window.onload = mainHref();
	</script>
</head>

<body>
	<header>
		<h1>AgileEstate</h1>
	</header>
	
	<section>
		<div id="estate">
			<h3>Największa na świecie agencja zajmująceja się handlem nieruchomościami.</h3>
			<a href="estate" id="link">Wyświetl posiadłości</a> <br>
			<a href="estate/new" id="link">Dodaj posiadłość</a> <br>
			<br>
			<a href="TUTAJ LINK" id="link">TUTAJ NAZWA</a> <br>
			<a href="TUTAJ LINK" id="link">TUTAJ NAZWA</a> <br>
			<a href="TUTAJ LINK" id="link">TUTAJ NAZWA</a> <br>
			<a href="TUTAJ LINK" id="link">TUTAJ NAZWA</a> <br>
			<a href="TUTAJ LINK" id="link">TUTAJ NAZWA</a> <br>
			<a href="TUTAJ LINK" id="link">TUTAJ NAZWA</a> <br>
		</div> 
	</section>

	<footer>

	</footer>
</body>

</html>
